.body_box2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    background-color: white;
    margin-top: 15px;
    flex-direction: column;
}

.body_box2 .top{
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top .top1, .top .top2, .top .top3, .top .top5{
    height: 80%;
    width: 25%;
    border-right: 1px solid #d9d9d9;
}
.top div:nth-child(4), .top div:nth-child(5){
    border: none;
}
.top .top1 img{
    height: 45px;
    width: 55px;
}
.top .top1{
    display: flex;
    align-items: center;
}
.top1 .left_side{
    display: flex;
    flex-direction: column;
}
.top1 .left_side span{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.85);
}
.left_side small{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 9px;
    color: #616161;
}
.top2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top2 span:nth-child(1){
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}
.top2 span:nth-last-child(1){
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 18px;
    color: #929292;
}
.top3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.top3 small{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
    color: #9D9D9D;
}
.top3 span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bolder;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}
.top3 .rating_container{
    display: flex;
}
.top3 .rating_container img{
    width: 8px;
    height: 9px;
}
.top .top5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top .top5 button{
    height: 25px;
    width: 85px;
    border: none;
    padding: 5px;
    margin-top: 5px;
    color: white;
    font-size: 10px;
}
.top5 .visi{
    visibility: hidden;
}
.top5 button:nth-child(1){
    background-color: #4CAF50;
}
.top5 button:nth-child(2){
    background-color: #F8754B;
}
.top5 small{
    margin-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    color: #8A8989;
    border-bottom: .1px solid #d4d4d4;
}
.bottom{
    width: 94%;
}

.bottom .header{
    display: flex;
    width: 100%;
}
.header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    border-bottom: 1px solid #9D9D9D;
}
.header span:nth-child(1){
    margin-right: 2rem;
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
}
.footer{
    position: relative;
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
}
.footer .footer-left{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: #7E7E7E;
    margin-right: 16%;
}
.footer-left{
    margin-top: 10px;
}
.footer-left div{
    height: 20px;
    display: flex;
    align-items: center;
    margin-top: 5%;
}
.footer-left img{
    height: 23px;
    width: 25px;
    margin-right: 10px;
}
.footer-left p{
    margin-top: 5px;
    height: 15px;
}
.collaps_button{
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.collaps_button .collaps_icon{
    margin-top: 5px;
    font-size: 12px;
    font-weight: bolder;
    color: #4e4e4e;
    cursor: pointer;
}